body, #screen-wrapper {
  overflow: hidden;  
}

#screen-wrapper {
  width: 640px;
  height: 940px; /* (-20 for title bar) */
  background-color: #eee;
}

form {
  margin-bottom: 0px;  
}

#top-bar {
  color: #eee;
  font-family: HelveticaNeue-Light, Sans-Serif;
  padding: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, 
                                       from(#555), to(#333));
  background-image: linear-gradient(to bottom, #555, #333);
  border-bottom-style: solid;
  border-bottom-color: black; 
  border-bottom-width: 1px;  
}

.field-container label {
  font-size: 22px;
  padding-top: 10px;
  margin-right: 1em;
  margin-left: .5em;  
  display:inline-block;
}

#from-field, #to-field {
  width: 78%;
  height: 1.5em;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 30px;
  padding: 3px;
  line-height: 1em;
  display: inline;
}

#from-field.from-field-small {
  width: 30%;
  height: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 2em;
  font-size: 22px;
  padding: 3px;
  height: 73px;
  display:inline;
}

#to-field.to-field-small {
  width: 30%;
  height: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: .5em;
  font-size: 22px;
  padding: 3px;
  height: 73px;
  display:inline;
}


label {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
  width: 2em;
  display:block;
  text-align: right;
}

canvas {
  width: 640px;  
  height: 940px;  
}

/*
span.deleteicon {
    position: relative;
}
span.deleteicon span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}
span.deleteicon input {
    padding-right: 16px;
}
*/
