#centerpiece {
  display: block;
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  margin-bottom: 8em;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  width: 15em;

  display: block;
}

#slogan {
  font-size: 1.5em;
  text-align: center;
}

#navigation {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background-color: black;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -border-radius:20px;
  border-radius: 20px;
}

.section {
  margin-top: 6em;
}
#navigation {
  height: 1.5em;
}
.location {
  display: inline-block;
  -webkit-transform-origin:0%;
  -webkit-transform:rotate(45deg);
  -moz-transform-origin:0%;
  -moz-transform:rotate(45deg);
  -o-transform-origin:0%;
  -o-transform:rotate(45deg);
  -ms-transform-origin:0%;
  -ms-transform:rotate(45deg);
  width: 3em; // Width of each location in the nav bar
  margin-top: -3em;
  white-space: nowrap;
}

.location a {
  display: block;
  margin-left: 2.2em;
  margin-top: -1.6em;
}
#links {
  margin-top: -1.9em;
  padding: 0em 1em;
  margin-left: auto;
  margin-right: auto;
}
#links ul {
  margin: 0;
}
.circle {
  background: url(assets/images/circle.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.gallery-block {
  background-color: black;
}
#inspiration-block {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.section-header {
  background-color: black;
  color: white;
  padding-left: 10%;
}
